body {
  margin: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar-image {
  margin-right: 15px;
  margin-top: 70%;
  width: 20px;
  height: 14px;
}

.headline {
  display: flex;
  flex-direction: column;
}

.intro {
  margin-left: 5%;
  margin-right: 5%;
}

.name {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.btn {
  font-family: 'Poppins', sans-serif;
  background-color: #1a2236;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  color: #fff;
  height: 50px;
  border: 1px solid #1a2236;
}

.btn:hover {
  background-color: #fff;
  color: #1a2236;
  transition: ease-in-out 1s;
}



.btn:focus span {
  color: #1a2236;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.footer-image {
  width: 100%;
  margin: 30px 0;
}

.projects {
  display: grid;
}

.card {
  background-color: #1a2236;
  backdrop-filter: blur(1px);
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.card-title {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.languages {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 10px;
}

.lang {
  font-family: 'Poppins', sans-serif;
  background-color: #98dede;
  padding: 6px 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  color: #1a2236;
}

.project-link {
  font-family: 'Poppins', sans-serif;
  width: fit-content;
  display: block;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.project-picture {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  border: 0;
}

.project-picture1 {
  height: 205px;
  background-image: url(../images/Rectangle_21.png);
  background-size: 100%;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

.project-picture2 {
  height: 205px;
  background-image: url(../images/Rectangle_22.png);
  background-size: 100%;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

.project-picture3 {
  height: 205px;
  background-image: url(../images/Rectangle_23.png);
  background-size: 100%;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

.project-picture4 {
  height: 205px;
  background-image: url(../images/Rectangle_24.png);
  background-size: 100%;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

.project-picture5 {
  height: 205px;
  background-image: url(../images/Rectangle_25.png);
  background-size: 100%;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

.project-picture6 {
  height: 205px;
  background-image: url(../images/Rectangle_26.png);
  background-size: 100%;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
}

.link-img {
  margin-left: 12px;
  height: 15.35px;
  width: 20.57px;
}

.about-cards {
  display: grid;
  justify-content: center;
  row-gap: 16px;
  margin: 50px 0;
}

.about-card {
  width: 189px;
  height: 189px;
  padding: 80px;
  padding-top: 35px;
  padding-bottom: 110px;
}

.about-card1 {
  width: 189px;
  height: 189px;
  padding: 80px;
  padding-top: 50px;
  padding-bottom: 90px;
}

.about-1:hover {
   background: green;
   transition: ease-in-out 0.5s;
}

.about-2:hover {
  background: orange;
  transition: ease-in-out 0.5s;
}

.about-3:hover {
  background: black;
  transition: ease-in-out 0.5s;
}

.about-1 {
  animation-duration: 3s;
  animation-name: slide;
}

@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.about-2 {
  animation-duration: 3s;
  animation-name: slide2;
}

@keyframes slide2 {
  from {
    margin-right: 0%;
    width: 300%;
  }

  to {
    margin-right: 100%;
    width: 100%;
  }
}
.about-3 {
  animation-duration: 3s;
  animation-name: slide3;
}

@keyframes slide3 {
  from {
    margin-bottom: 45%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

.about-card2 {
  width: 189px;
  height: 189px;
  padding: 80px;
  padding-top: 40px;
  padding-bottom: 90px;
}

.about-1 {
  background: #1c528a;
}

.about-2 {
  background: #e2505c;
}

.about-3 {
  background: #febf52;
}

.about-header {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 22px;
  color: #fff;
}

.list {
  padding: 0;
}

.item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  margin-left: 14px;
}

.list-text {
  position: relative;
}

.about-img {
  padding-left: 90%;
}

.about-img1 {
  width: 102px;
  height: 102px;
  padding-left: 167px;
}

.about-img2 {
  width: 96px;
  height: 96px;
  padding-left: 173px;
}

.about-img3 {
  width: 102px;
  height: 102px;
  padding-left: 164px;
}

.about {
  display: flex;
  flex-direction: column;
}

.lblForm {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 4px;
  left: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0;
  color: #7d7c84;
}

.info {
  list-style: none;
  padding: 0;
}

.box {
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 8px;
}

.box:focus {
  transition: all 2s ease-in-out;
}

.txtForm {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  border: 1px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 23px 0 8px 16px;
  color: #7d7c84;
  letter-spacing: 0;
  font-size: 14px;
}

input {
  font-weight: bolder;
}

.footer-socials {
  margin: 0;
  margin-top: 50px;
  height: 118px;
  padding-top: 32px;
  background: #1a2236;
}

.resume {
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  text-decoration: none;
}

.image-icon {
  margin-left: 16px;
}

.intro-center {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-items: center;
}

.socials {
  margin-top: 25px;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
}

.img-footer {
  width: 111px;
  height: 74.02px;
  top: 4129px;
}
